<td style="text-align:right">{{liability.id}}</td>
<td>{{liability.enterprise.name}}</td>
<td style="text-align:right">{{format-number liability.amount format="0,0.00"}}</td>
<td>
    <button type="button"
         {{action "deleteLiab" liability}}>x</button>
    <button type="button"
         {{action "editLiab" liability}}>Edit</button>
</td>
