<article class="tree-grid">
  <table>
    <tr>
      <th>
        Balance line
      </th>
      <th>
        Amount
      </th>
    </tr>
    {{#each data as |linedata|}}
      <tr>
        <td class="tree-item-capture">{{linedata.name}}</td>
        <td>{{linedata.amount}}</td>
        <td>{{linedata.subs}}</td>
      </tr>
      {{#each linedata.subs as |sub|}}
        <tr>
          <td class="tree-item-capture"> -- {{sub.name}}</td>
          <td>{{sub.amount}}</td>
        </tr>
      {{else}}
        <tr>
          <td>No Subs</td>
          <td>No Subs</td>
        </tr>
      {{/each}}
    {{/each}}
  </table>
</article>
